.logoimg{
    width: 50%;
}
.space{
    padding-bottom: 10rem;
}
.space2{
    padding-top: 5rem;
}
.product-image {
   
    height: 35rem; /* Set the height you prefer */
    object-fit: cover; /* This ensures the image will cover the entire area without distorting */
  }